<!DOCTYPE html>
<html>
<head>
  <title>RailsReactWebpackStarter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css" />
</head>
<body>
  <div id="root"></div>
<%= yield %>

  <script type="text/javascript">
    window.data = {};
    <% if user_signed_in? %>
      data.currentUser = <%= current_user.to_json.html_safe %>;
    <% else %>
      data.currentUser = null;
    <% end %>
  </script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
